# ==========================
# Python
# ==========================
backend/venv/
backend/__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment Variables
# ==========================
.env
backend/.env

# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Storage
# ==========================
storage/

# ==========================
# Database
# ==========================
*.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db